@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

body {
    display: flex;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

a {
    text-decoration: underline;

    &:hover {
        color: blue;
    }
}

.wrapper {
    max-width: 800px;
    margin: 240px auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    min-width: 160px;
    background-color: #dedede;

    // 常時表示しているナビゲーション
    #nav-list {
        display: flex;
        flex-direction: column;

        .nav-item {
            position: relative;
            padding: 16px 32px;
            text-align: center;


            &:hover {
                background-color: orange;
            }

            // ホバーすると表示するナビゲーション
            .drop-menu {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: orange;

                .drop-item {
                    padding: 16px 32px;
                    border-top: 1px dotted black;
                }
            }

            // ホバーするとopenクラスが付与されるため、表示するようにする
            .open {
                display: block;
            }
        }
    }
}
