@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marquee {
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding: 16px 0;
    background-color: #f6f6f6;
    overflow: hidden;

    .text {
        display: inline-block;
        white-space: nowrap;
        animation: marqueeText linear 8000ms infinite;
    }
}

@keyframes marqueeText {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(-100%);
    }
}
