@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

a {
    text-decoration: underline;

    &:hover {
        color: blue;
    }
}

.wrapper {
    max-width: 800px;
    margin: 120px auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-top: 120px;
    }
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #dedede;

    #nav-list {
        display: flex;
        justify-content: center;

        .nav-item {
            padding: 32px;
            text-align: center;

            &:hover {
                background-color: orange;
            }
        }
    }
}

#header.up {
    animation: UpScroll 0.5s forwards;
}

@keyframes UpScroll{
    from {
        opacity: 0;
        transform: translateY(-120px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#header.down {
    animation: DownScroll 0.5s forwards;
}

@keyframes DownScroll{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-120px);
    }
}
