@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    margin: 24px;
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        margin: 24px 0;
    }
}

footer {
    margin-top: 56px;
}

#bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;

    .nav-list {
        display: flex;
        justify-content: space-around;
        padding: 8px 0 24px;
        background-color: lightblue;

        .list-item {

            a {
                position: relative;
                display: block;
                width: 24px;
                height: 24px;
                background-position: center;
                background-repeat: no-repeat;

                &.active .btn-name {
                    color: #e6bbad;
                }

                .btn-name {
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: white;
                    font-size: 0.8rem;
                }
            }

            #home {
                background-image: url("../../../images/bottomnavigation/home.svg");

                &.active {
                    background-image: url("../../../images/bottomnavigation/home-active.svg");
                }
            }

            #account {
                background-image: url("../../../images/bottomnavigation/account.svg");

                &.active {
                    background-image: url("../../../images/bottomnavigation/account-active.svg");
                }
            }

            #favorite {
                background-image: url("../../../images/bottomnavigation/favorite.svg");

                &.active {
                    background-image: url("../../../images/bottomnavigation/favorite-active.svg");
                }
            }

            #setting {
                background-image: url("../../../images/bottomnavigation/setting.svg");

                &.active {
                    background-image: url("../../../images/bottomnavigation/setting-active.svg");
                }
            }
        }
    }
}
