@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

a {
    color: #4591BB;

    &:hover {
        color: goldenrod;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumb {
    display: flex;
    margin-top: 40px;

    .item {
        position: relative;
        margin: 0 24px;
        font-weight: bold;

        &:first-child::before {
            position: absolute;
            top: 0;
            left: -36px;
            width: 16px;
            height: 16px;
            content: url("../../../images/breadcrumb/home.svg");
        }

        &::after {
            position: absolute;
            top: 0;
            right: -28px;
            width: 16px;
            height: 16px;
            content: url("../../../images/breadcrumb/arrow.svg");
        }

        &:last-child::after {
            content: '';
        }
    }
}
