@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// ローディング用のスタイル.
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray;
    font-size: 2.0rem;
}
