@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

body {
    background-color: #dedede;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
}

.slide-item {

    img {
        width: 200px;
    }
}
