@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#header {
    position: relative;

    .parallax {
        width: 100%;
        height: 100vh;
        background-image: url("../../../images/scrolldown/background.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .scroll-down {
        position: absolute;
        left: 50%;
        bottom: 10px;
        height: 80px;

        &::before {
            position: absolute;
            top: 8px;
            width: 1px;
            height: 64px;
            background: #fff;
            content: "";
        }

        &::after {
            position: absolute;
            bottom: 64px;
            left: -5px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #fff;
            animation: scrollDown 1500ms linear infinite;
            content: "";
        }

        .text {
            position: absolute;
            top: -24px;
            left: -24px;
            color: #fff;
            letter-spacing: 1px;
        }
    }
}

@keyframes scrollDown{
    from {
        bottom: 64px;
    }

    to {
        bottom: 0;
    }
}
