@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-switch {
    width: 64px;
    margin-top: 40px;

    #switch {
        display: none;

        &:checked + #label {
            background-color: #78bd78;
            box-shadow: none;

            span::after {
                color: #fff;
                content: 'ON'
            }
        }
    }

    #label {
        display: block;
        border: 2px solid #ccc;
        border-radius: 4px;
        padding: 16px 0;
        box-shadow: 2px 2px 4px gray;
        transition: all 300ms;
        text-align: center;

        span::after {
            color: #ccc;
            content: 'OFF'
        }
    }
}
