@charset "utf-8";

$tabBaseColor: #EEEEEE;
$tabActiveColor: #4591BB;

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        margin-top: 80px;
    }
}

#tab-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;

    #tab-headers {
        width: 30%;

        .tab {
            background-color: $tabBaseColor;
            transition: all 500ms;

            &:first-of-type {
                border-top-left-radius: 8px;
            }

            &:last-of-type {
                border-bottom-left-radius: 8px;
            }

            &.active {
                background-color: $tabActiveColor;
            }

            .link {
                display: block;
                width: 100%;
                padding: 8px 32px;
            }
        }
    }

    #tab-contents {
        width: 70%;
        padding: 16px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: $tabActiveColor;

        .item {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
