@charset "utf-8";

html {
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    max-width: 800px;
    margin: 80px auto;
    padding: 0 4%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    margin-top: 80px;
    padding: 8px 40px;
    border-radius: 24px;
    border: 1px solid #dedede;
    transition: all 500ms;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-color: transparent;
    }
}
