@charset "utf-8";

html {
    color: #fff;
    font-size: 100%;
    line-height: 1.6;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}


.sticky {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        margin: 24px 0 48px;
    }
}

#service {
    background-image: url("../../images/parallax/parallax1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
}

#work {
    background-image: url("../../images/parallax/parallax2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 200;
}

#skill {
    background-image: url("../../images/parallax/parallax3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 300;
}
